<h2>Por Region</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <!-- <shared-search-box placeholder="Busqueda por region..." (onValue)="searchByRegion($event)"></shared-search-box> -->
    <button *ngFor="let item of regions" class="btn mx-2" (click)="searchByRegion(item)" >{{item}}</button>
  </div>
  <span><strong>{{initialValue}}</strong></span>
</div>

<hr>

<div class="row">
  <div class="col">
    <hr>
    <ul>
      <countries-country-table [countries]="countries"></countries-country-table>
    </ul>
  </div>
</div>
