<div *ngIf="countries.length===0; else table" class="alert alert-warning text-center">
  No hay paises que mostrar
</div>


<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th>Ver mas..</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of countries; let i=index;">
        <td>{{i+1}}</td>
        <td>{{item.flag}}</td>
        <td><img [src]="item.flags.svg" [alt]="item.name.common"></td>
        <td>{{item.name.common}}</td>
        <td>{{item.capital}}</td>
        <td>{{item.population | number}}</td>
        <td><a [routerLink]="['/countries/by',item.cca3]">Ver mas...</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
